/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }

    body {
       width: 800px;
       height: 100%;
       margin: 0 auto;
       background-color: #82a43a;
    }

    header {
      background-color: #D2691E;
      padding: 25px;
      border: 10px solid #000000;
      font-size: 28;
      display: block;
    }
    header h1
    {
      text-align: center;
    }
    img {
      width: 800px;
    }
    nav ul li {
       list-style-type: none;
    }
    nav li a {
        display: block;
        height: 25px;
        padding: 0 auto;
        color: #black;
        text-decoration: none;
        text-align: center;
    }
    span {
      float: right;
    }
    section {
        width: 73%;
        display: inline-block;
        float: left;
        font-size: 15;
        color: #black;
    }
    article ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
